
:root {

  --black: #000000;
  --white: #ffffff;
  --beige: #F7F3EC;
  --white-background: #F4F7F9;
  --red-basic: red;
  --red: #EE3643;
  --dark-red: #BA2732;
  --dark-red-shadow: #8A1F27;
  --blue-special: #3BBCE3;
  --blue: #32425C;
  --dark-blue: #161D29;
  --yellow: #FFDA96;
  --yellow-special: #FFBF47;
  --yellow-light: #FFC047;
  --basic-green: #63A63E;
  --green-success: #5FBB2D;
  --green-light: #8ED78F;
  --grey: #C5C5C5;
  --grey-del: #A9A9A9;
  --lilac-special: #DC91D8;
}

/* Global
=================== */

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);

  margin: 0;
  padding: 0;
}

*, *::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
/* Button-red
======================== */
.button-red {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--red);
  color: var(--white);
}

.button-red:active {
  background-color: var(--dark-red);
}

/* Tittle */

.title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);
}

/* Container */

.container {
  max-width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

/* Header
======================= */
.header {
  margin-bottom: 119px;
  padding-bottom: 60px;
  background-color: var(--white-background);
}


.header-panel {
  background-color: var(--blue);
  margin-bottom: 40px;
}

.header-container {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

  display: flex;
}

.header-panel input {
  line-height: 24px;
  color: var(--white);
  background-color: transparent;
  border: none;
  margin: 10px 20px 10px 0;
  padding: 0;
}

::placeholder {
  color: var(--white);
}

.header-panel input:focus::placeholder {
   color:transparent;
}

/* Появился вопрос.Почему стили лучше задать не картинке а ссылке?
Потому что ссылка-родитель?)
Или например если ссылка в li,то тогда лучше задать родителю,или всё же
самой ссылке? */

.header-logo-link {
  padding: 12px 56px 12px;
  margin-right: 17px;
  background-color: var(--red);
  box-shadow: 0 5px 0 0 var(--dark-red-shadow);
}

.header-button {
  font-size: 18px;
  text-decoration: none;
  color: var(--white);
  padding: 9px 17px;
}

.button-bookmark{
  margin-left: auto;
}

.button-green {
  font-size: 18px;
  color: var(--white);
  background-color: var(--basic-green);
  padding: 10px 16px 10px 19px;

}
.header-middle {
  display: flex;
  margin-bottom: 44px;
}

.header-text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--red);

  margin: 0;
  margin-right: 93px;
  width: 197px;
}


.header-middle-wrapper {
  margin-right: 69px;
}


.header-tel {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--red);
  border: 3px solid var(--white);

  display: block;
  padding: 8px 45px;
  margin-bottom: 3px;
}

.header-address {
  font-size: 14px;
  font-style: normal;
  color: var(--blue);
  text-align: center;
}

.user-nav,
.user-profile-list {
  list-style: none;

  margin: 0;
  padding: 0;
}
/* и всё таки без флекса не осилил :( */
.user-nav {
  display: flex;
}

.user-nav-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);

  padding: 12px 24px;
  display: block;
}

.user-nav-login {
  margin-right: 10px;
  padding: 12px 27px 12px 45px;
}

/* Header-effects */

.header-logo:active {
  background-color: var(--dark-red);

}

.header-panel input:focus {
  color: var(--black);
  background-color: var(--white);
}


.header-button:active {
  background-color: var(--dark-blue);
 }

.button-green:hover {
  background-color: var(--green-success);
}

.user-nav-link:hover {
  color: var(--red);
}

.user-nav-link:active {
  color: var(--grey);
}


/* Navigation
===================== */

.nav {
  background-color: var(--blue);
}


.nav-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--white);
  display: block;
  padding: 18px 25px;
  margin: 0 auto;
}

/* 52px - по макету,в дальнейшем,видимо нужно будет
подгонять паддинки для каждого .nav-link,что бы попадать в размеры */
.nav-list:first-child {
  margin-left: 52px;
}

/* Nav-effects */

.nav-link:hover {
 background-color: var(--dark-blue);
}

.nav-link:active {
  background-color: var(--dark-blue);
  opacity: 0.5;
 }

/* promo
===================== */

.promo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);

  margin: 0;
}

.promo-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.3);
}

.section-item {
  width: 300px;
  height: 123px;
}

.section-item:nth-child(2) {
  background-color: var(--yellow-special);
}

.section-item:nth-child(3) {
  background-color: var(--blue-special);
}

.section-item:nth-child(4) {
  background-color: var(--lilac-special);
}

.featues-slider-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);

  margin: 0;
}

.featues-slider-text {
  color:var(--white);

  margin: 0;
}


.section-item:nth-child(6) {
  background-color: var(--green-light);
}

.section-item:nth-child(7) {
  background-color: var(--yellow-light);
}

/* Popular
========================= */

.popular-list {
  list-style: none;
}

.popular-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--black)
}

.popular-item s{
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--grey-del);
}

.popular-item span {
  font-weight: 700;
  font-size: 17px;
  line-height: 38px;
  text-align: center;
  color: var(--white);
  background-image: url(../img/button-price.svg);
  display: block;
  width: 141px;
  height: 38px;

}

/* Manufacturer
 ============================*/

.manufacturer-list {
  list-style: none;
}

 /* Servises
 =========================== */

.services-description:first-of-type {
  background-image: url(../img/service-deliver.png);
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.services-description:nth-of-type(2) {
  background-image: url(../img/service-garant.png);
  background-repeat: no-repeat;
}

.services-description:nth-of-type(3) {
  background-image: url(../img/service-credit.png);
  background-repeat: no-repeat;
}

.services-title {
  color: var(--black);
}

.services-list{
   list-style: none;
}

.services-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--blue);
}

.services-link-active {
  color: var(--blue);
  background-color: var(--white);
}

.services-description h3{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);
}

.services-description p {
  font-size: 13px;
  color: var(--black);
}

/* Wrapper */

.about-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
  margin: 70px auto 70px;

}

/* About
============================ */

.about {
  width: 478px;
  height: 356px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title {
  color: var(--black);

  margin: 0;
  margin-bottom: 25px;
}

.about-text {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;

  margin: 0;
}

.about-text:first-of-type {
  margin-bottom: 20px;
}

.about-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.about-item {
  padding-left: 37px;
  margin-bottom: 12px;
}

.about-item:last-child {
  margin-bottom: 20px;
}

.about-button {
  padding: 10px 40px;
}

/* Contacts
==================== */

.contacts {
  width: 300px;
  height: 356px;
}

.contacts-title {
  color: var(--black);

  margin: 0;
  margin-bottom: 24px;
}

.contacts-text {
  font-family: "PT Sans",Arial,sans-serif;

  margin: 0;
  margin-bottom: 32px;
}

.contacts-map {
  margin-bottom: 25px;
}

.contacts-button {
  padding: 10px 61px;
}

/* Catalog-page
===================== */



/*Catalog-page header
=================== */
.button-basket {
  font-size: 18px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
}

.user-name {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);

  display: block;
  padding: 12px 56px;
  margin-bottom: 7px;
}

.user-profile-list {
  display: flex;
}

.user-profile-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--blue);
}

/* Тут пытался с помощью псевдокалсса,
но что-то опять полшло не так.
 .user-profile-link:first-of-type {
  margin-right: 10px;
} */

.user-profile-link-orders {
  margin-right: 10px;
}

/*Catalog-page header-effects
============================= */

.user-profile-link:hover {
  color: var(--red);
}

.user-name:active,
.user-profile-link:active {
  color: var(--grey);
}

/* Bread crumbs
=========================== */

.bread-crumbs-list {
  list-style: none;
  display: flex;
}

.bread-crumbs-list-item,
.bread-crumbs-list-item a {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.bread-crumbs-list-item {
  margin-left: 41px;
}

/* main-title */

.main-title {
  background-color: var(--white-background);
  padding: 10px 0 10px 30px;
  /* margin: 0; */
}

/* Wrapper
===================*/

.wrapper {
  display:flex;
}


/* Filters
=================== */

.filters {
  margin: 0;
  padding: 0;

  width: 220px;
  height: 720px;

  display: flex;
  flex-direction: column;
}

.filters h2 {
  font-weight: normal;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-list{
  list-style: none;
}

.filter-item {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 15px;
  line-height: 19px;
}

.button-submit {
  font-size: 13px;
  line-height: 18px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Sorting
====================== */

.sorting {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  display: flex;
}

.sorting h3 {
  font-weight: normal;
  font-size: 13px;
  margin-right: auto;
}


.sotring-link:not(.sotring-link-active) {
  color: var(--black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--black);
}

.sotring-link-active {
  color: var(--red);
}

/* Sorting-effects
====================== */
.sotring-link:not(.sotring-link-active):hover {
  opacity: 1;
}

.sotring-link-active:hover {
  color: var(--red-basic);
}

/* Products
====================== */

.products-list {
  list-style: none;

  margin: 0;
  width: 700px;

  display: flex;
  flex-wrap: wrap;

}

.products-item {
  font-size: 17px;
  line-height: 18px;

  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

}

.products-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);

  margin: 0;

  width: 156px;
}

.products-item s {
  color: var(--grey-del);

  display: block;
  width: 100%;
}

.products-item span {

  text-align: center;
  background-image: url(../img/button-price.svg);
  background-repeat: no-repeat;
  color: var(--white);
  display: inline-block;
  height: 38px;
  width: 141px;

}

/* Site-nav
==================== */

.site-nav-item a{
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.site-nav-item-active {
  background-color: var(--red);
}

.site-nav-list {
  list-style: none;
}

.site-nav-item {
  display: inline-block;
}

/* Perforator-description
==================== */

.perforator-description-title {
  color: var(--black);
}

.perforator-description p {
font-size: 13px;
}

/* Footer
==================== */
.footer {
  background-color: var(--blue);
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-logo-link {
  padding: 23px 41px;
  background-color: var(--red);
  box-shadow: 0 5px 0 0 var(--dark-red-shadow);
}

.footer-address {
  font-style: normal;
  color: var(--white);
}

.footer-list-top,
.footer-list-bottom {
  list-style: none;

  margin: 0;
  padding: 0;
  display: flex;
}

.list-top-item a,
.list-bottom-item a {
  list-style: none;


  display:inline-block;
  margin-top: 36px;
  margin-right: 30px;
  margin-bottom: 17px;
  margin-left: 30px;;
}

.list-top-item a:last-child,
.list-bottom-item a {
  margin-right: 0px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 54px 0;
}

.list-top-item a {
  color: var(--white);
}

.list-bottom-item a {
  color: var(--yellow)
}

.footer-contacts {
  background-color: var(--dark-blue);

  padding: 35px 0;
}

.footer-contacts .container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);

  margin: 0;
}

.social-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.footer-feedback {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);

  margin: 0;
  margin-right: 51px;
  margin-left: auto;
}

.footer-feedback a {
  color: var(--yellow);
}

.footer-developer {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);

  margin: 0;
}

.footer-developer a {
  color: var(--yellow);
}
/* Popups */

.map-popup {
  display: none;
}

.basket-popup {
  display: none;
}

/* Footer-effects */

.list-top-item a:hover,
.list-bottom-item a:hover {
  text-decoration: underline;
}

.list-top-item a:active,
.list-bottom-item a:active {
  opacity: 0.5;
}

.footer-feedback a:hover,
.footer-developer a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: var(--dark-red);
}
