
:root {
  --black: #000000;
  --white: #ffffff;
  --beige: #F7F3EC;
  --red-basic: red;
  --red: #EE3643;
  --dark-red: #BA2732;
  --blue-special: #3BBCE3;
  --blue: #32425C;
  --dark-blue: #161D29;
  --yellow: #FFDA96;
  --yellow-special: #FFBF47;
  --yellow-light: #FFC047;
  --basic-green: #63A63E;
  --green-success: #5FBB2D;
  --green-light: #8ED78F;
  --grey: #C5C5C5;
  --grey-del: #A9A9A9;
  --lilac-special: #DC91D8;
}

/* Global
=================== */

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);

  min-width: 940px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  /* Тут пожно было использовать min-width: 960px,
  но решил попробовать так */
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
/* Button-red
======================== */
.button-red {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--red);
  color: var(--white);
}

.button-red:active {
  background-color: var(--dark-red);
}

/* Header
======================= */
.header-panel {
  background-color: var(--blue);
}

.header-panel input {
  color: var(--white);
  background-color: transparent;
  border: none;
}

::placeholder {
  color: var(--white);
}

.header-panel input:focus::placeholder {
   color:transparent;
}


.header-button {
  font-size: 18px;
  text-decoration: none;
  color: var(--white)
}

.button-green {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--basic-green);
}

.header-text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--red)
}

.header-tel {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--red)
}

.header-address{
  font-size: 14px;
  font-style: normal;
  color: var(--blue)
}

.user-nav {
  list-style: none;
}

.user-nav-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

/* Header-effects */

.header-logo:active {
  background-color: var(--dark-red);

}

.header-panel input:focus {
  color: var(--black);
  background-color: var(--white);
}


.header-button:active {
  background-color: var(--dark-blue);
 }

.button-green:hover {
  background-color: var(--green-success);
}

.user-nav-link:hover {
  color: var(--red);
}

.user-nav-link:active {
  color: var(--grey);
}


/* Navigation
===================== */

.nav {
  background-color: var(--blue);
}

.nav-list {
  list-style: none;

}

.nav-link {
  color: var(--white)
}

/* Nav-effects */

.nav-link:hover {
 background-color: var(--dark-blue);
}

.nav-link:active {
  background-color: var(--dark-blue);
  opacity: 0.5;
 }

/* promo
===================== */

.promo-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.promo-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

.section-item {
  width: 300px;
  height: 123px;
}

/* Тут не совсем понимаю.Что бы всё заработало,надо начинать
с :nth-child(2),но по логике сначала идёт
.section-item:first-child и т.д.
Ещё не могу понять,почему не срабатывает смена цвета текста,
ведь этот селектор спецефичней?
и + section-slider почему-то наехал на section-item? */

.section-item:nth-child(2) {
  background-color: var(--yellow-special);
  color: blueviolet;
}

.section-item:nth-child(3) {
  background-color: var(--blue-special);
}

.section-item:nth-child(4) {
  background-color: var(--lilac-special);
}

.featues-slider-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white)
}

.featues-slider-text {
  color:var(--white)
}


.section-item:nth-child(6) {
  background-color: var(--green-light);
}

.section-item:nth-child(7) {
  background-color: var(--yellow-light);
}

/* Popular
========================= */

.popular-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);
}

.popular-list {
  list-style: none;
}

.popular-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black)
}

.popular-item s{
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--grey-del);
}

.popular-item span {
  font-weight: bold;
  font-size: 17px;
  line-height: 38px;
  text-align: center;
  color: var(--white);
  background-image: url(../img/button-price.svg);
  display: block;
  width: 141px;
  height: 38px;

}

/* Manufacturer
 ============================*/

.manufacturer-list {
  list-style: none;
}

.manufacturer-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);
}

 /* Servises
 =========================== */

.services-description:first-of-type {
  background-image: url(../img/service-deliver.png);
  background-repeat: no-repeat;
  background-size: 468px 261px;
}

.services-description:nth-of-type(2) {
  background-image: url(../img/service-garant.png);
  background-repeat: no-repeat;
}

.services-description:nth-of-type(3) {
  background-image: url(../img/service-credit.png);
  background-repeat: no-repeat;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.services-list{
   list-style: none;
}

.services-link {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--blue);
}

.services-link-active {
  color: var(--blue);
  background-color: var(--white);
}

.services-description h3{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);
}

.services-description p {
  font-size: 13px;
  color: var(--black);
}

/* About
============================ */

.about-title {
  font-size: 30px;
  line-height: 30px;
}

.about-text {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
}

.about-list {
  list-style: none;
}

/* Contacts
==================== */

.contacts-title {
  font-size: 30px;
  line-height: 30px;
}

.contacts-text {
  font-family: "PT Sans",Arial,sans-serif;
}

/* Catalog-page
===================== */

/*Catalog-page header
=================== */
.header-basket {
  font-size: 18px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
}

.user-name {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
}

.user-profile-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--blue);
}



/*Catalog-page header-effects
============================= */

.user-profile-link:hover {
  color: var(--red);
}

.user-name:active,
.user-profile-link:active {
  color: var(--grey);
}

/* Bread crumbs
=========================== */

.bread-crumbs-list {
  list-style: none;
}

.bread-crumbs-list-item,
.bread-crumbs-list-item a {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

/* h1 */

.main h1 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);
}

/* Filters
=================== */
.filters h2 {
  font-weight: normal;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-list{
  list-style: none;
}

.filter-item {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 15px;
  line-height: 19px;
}

.button-submit {
  font-size: 13px;
  line-height: 18px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Sorting
====================== */

.sorting h3 {
  font-family: "PT Sans",Arial,sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

/* Можно ли было здесь зделать то же самое,но не
дублируя код? */
.sotring-link:not(.sotring-link-active) {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--black);

}

.sotring-link-active {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--red);
}

/* Sorting-effects
====================== */
.sotring-link:not(.sotring-link-active):hover {
  opacity: 1;
}

.sotring-link-active:hover {
  color: var(--red-basic);
}

/* Products
====================== */

.products-list {
  list-style: none;
}

.products-item {
  font-size: 17px;
  line-height: 18px;
}

.products-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.products-item s {
  color: var(--grey-del);
}

.products-item span {

  text-align: center;
  background-image: url(../img/button-price.svg);
  background-repeat: no-repeat;
  color: var(--white);
  display: inline-block;
  height: 38px;
  width: 141px;

}

/* Site-nav
==================== */

.site-nav-item a{
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.site-nav-item-active {
  background-color: var(--red);
}

/* Perforator-description
==================== */

.perforator-description h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.perforator-description p {
font-size: 13px;
line-height: 24px;
}

/* Footer
==================== */
.footer {
  background-color: var(--blue);
}

.footer-address {
  font-style: normal;
}

.list-top-item,
.list-bottom-item {
  list-style: none;
}

.list-top-item a {
  list-style: none;
  color: var(--white);

}

.list-bottom-item a {
  list-style: none;
  color: var(--yellow)
}

.footer-contacts {
  background-color: var(--dark-blue);
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--white)
}

.social-list {
  list-style: none;
}

.footer-feedback {
  font-size: 16px;
  line-height: 18px;
  color: var(--white)
}

.footer-feedback a {
  color: var(--yellow);
}

.footer-developer {
  font-size: 16px;
  line-height: 18px;
  color: var(--white)
}

.footer-developer a {
  color: var(--yellow);
}
/* Popups */

.map-popup {
  display: none;
}

.basket-popup {
  display: none;
}

/* Footer-effects */

.list-top-item a:hover,
.list-bottom-item a:hover {
  text-decoration: underline;
}

.list-top-item a:active,
.list-bottom-item a:active {
  opacity: 0.5;
}

.footer-feedback a:hover,
.footer-developer a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: var(--dark-red);
}


/* По окончанию задания возникло ещё пара вопросов.
 Стоит-ли использовать так сказать относительно глобальные стили?
 т.е. если например я вижу что в шапке весь текст белый,могу ли я задать color:#fff; сразу для всеей шапки,
 или всё таки лучше каждому конкретному тегу?
То-же самое по заголовкам,почти все имеют одинаковые стили,тогда можеть быть лучше задать всем им допольнительно
 class="title", и все стили задать именно ему?
 И ещё,мне показалось что я пишу стили как-то топортно,что ли. Т.е. мало использую доп.классы,а вместо этого просто
 меняю класс и польностью переписываю под него стили,мало использую псевдоклассы типа :first-of-type и т.п.
 Каково твоё мнение?
 Заранее спасибо за ответы!

  */
