
:root {

  --black: #000000;
  --white: #ffffff;
  --beige: #F7F3EC;
  --white-background: #F4F7F9;
  --red-basic: red;
  --red: #EE3643;
  --dark-red: #BA2732;
  --dark-red-shadow: #8A1F27;
  --blue-special: #3BBCE3;
  --blue: #32425C;
  --dark-blue: #161D29;
  --yellow: #FFDA96;
  --yellow-special: #FFBF47;
  --yellow-light: #FFC047;
  --yellow-background: #F9F5F0;
  --basic-green: #63A63E;
  --green-success: #5FBB2D;
  --green-light: #8ED78F;
  --grey: #C5C5C5;
  --grey-opacity:rgba(197, 197, 197, 0.3);
  --grey-del: #A9A9A9;
  --grey-del-opacity: rgba(169, 169, 169, 0.3);
  --lilac-special: #DC91D8;

  --slider-background: rgba(0, 0, 0, 0.25);
  --link-background: rgba(255, 255, 255, 0.3);
  --social-background: #212A3A;
  --grey-border: #EAEAEA;
  --icon-background: #3D546F;
  --popup-background: #F1F1F1;
}

/* Global
=================== */

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);

  margin: 0;
  padding: 0;
}

*, *::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
/* Button-red
======================== */
.button-red {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--red);
  color: var(--white);
  text-transform: uppercase;
}

.button-red:hover,
.button-red:focus {
  background-color: var(--red);
}

.button-red:active {
  background-color: var(--dark-red);
}

/* Tittle */

.title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);
}

/* Container */

.container {
  width: 940px;
  /* padding-left: 10px;
  padding-right: 10px; */
  margin: 0 auto;
}

/* Header
======================= */
.header {
  margin-bottom: 62px;
  padding-bottom: 60px;
  background-color: var(--white-background);
}


.header-panel {
  background-color: var(--blue);
  margin-bottom: 40px;
}

.header-container {
  width: 940px;
  /* padding-left: 10px;
  padding-right: 10px; */
  margin: 0 auto;

  display: flex;
  /* align-items: center; */
}

.header-panel input {
  line-height: 24px;
  color: var(--white);
  background-color: transparent;
  border: none;
  padding: 7px 20px 10px 27px;
  /* padding: 0; */
}

::placeholder {
  color: var(--white);
}

.header-panel input:focus::placeholder {
   color:transparent;
}

.header-search-icon {
  width: 17px;
  height: 17px;
  display: inline-block;

  fill: var(--white);
  opacity: 0.3;

  position: absolute;
  top: 10px;
  left: 442px;
  z-index: 1;
}

.header-logo{
  display: block;
  width: 220px;
  height: 40px;
  padding: 10px 56px 8px 56px;

  background-color: var(--red);
  box-shadow: 0 5px 0 0 var(--dark-red-shadow);
}

.header-logo-link {
  margin-right: 17px;
}

.header-button {
  font-size: 18px;
  text-decoration: none;
  color: var(--white);
  padding: 8px 20px;

  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.button-bookmark{
  margin-left: auto;
}

.button-bookmark::before {
  content: "";
  background-image: url(../img/icon-bookmark.svg);
  opacity: 0.3;

  width: 14px;
  height: 16px;
  margin-right: 9px;
  margin-top: 2px;
}

.button-basket::before {
  content: "";
  background-image: url(../img/icon-cart.svg);
  opacity: 0.3;

  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.button-green {
  font-size: 18px;
  color: var(--white);
  background-color: var(--basic-green);
  padding: 10px 16px 10px 19px;

}
.header-middle {
  display: flex;
  margin-bottom: 44px;
}

.header-text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--red);

  margin: 0;
  margin-left: 40px;
  margin-right: 93px;
  width: 197px;
}


.header-middle-wrapper {
  margin-right: 69px;
}


.header-tel {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--red);
  border: 3px solid var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 35px;
  margin-bottom: 3px;
  min-width: 270px;
}

.header-tel::before {
  content: "";
  width: 19px;
  height: 19px;

  margin-right: 17px;

  background-image: url(../img/icon-header-phone.svg);
}

.header-address {
  font-size: 14px;
  font-style: normal;
  color: var(--blue);
  text-align: center;
}

.user-nav {
  list-style: none;

  margin: 0;
  padding: 0;

  width: 299px;
  padding-left: 18px;
}

.user-profile-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.user-nav {
  display: flex;
}

.user-nav-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);

  padding: 12px 24px;
  display: block;
}

.user-nav-login {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 12px 27px 12px 19px;
}

.user-nav-login-icon {
  fill: var(--grey);
  margin-right: 6px;
}

/* Header-effects */

.header-logo:active {
  background-color: var(--dark-red);

}

.header-search-icon + .header-panel input:hover{
  opacity: 1;
  fill: red;
  background-color: red;
}

.header-panel input:focus {
  color: var(--black);
  background-color: var(--white);
}


.header-button:active {
  background-color: var(--dark-blue);
}

.button-bookmark:hover::before{
  opacity: 1;
}

.button-basket-main:hover::before,
.button-basket:hover::before {
  opacity: 1;
}

.button-green:hover {
  background-color: var(--green-success);
}

.user-nav-link:hover {
  color: var(--red);

}

.user-nav-link:active {
  color: var(--grey);
}

.user-nav-login:hover .user-nav-login-icon {
  fill: var(--blue);
}

/* Navigation
===================== */

.nav {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
}


.nav-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--white);
  display: block;
  padding: 18px 25px;
  margin: 0 auto;
}

/* Nav-effects */

.nav-link:hover {
 background-color: var(--dark-blue);
}

.nav-link:active {
  background-color: var(--dark-blue);
  opacity: 0.5;
 }

/* promo
===================== */
.promo-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.promo-section {
  margin-bottom: 59px;
}

.promo-item {
  padding-top: 20px;
  padding-left: 23px;

  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-item-new {
  position: relative;
}

.promo-item-new::after {
  content: "";
  width: 70px;
  height: 70px;
  background-image: url(../img/new.svg);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;

}

.promo-item-yellow {
  background-color: var(--yellow-special);
  background-image: url(../img/promo-materials.svg);
}

.promo-item-blue {
  background-color: var(--blue-special);
  background-image: url(../img/promo-drill.svg);
}

.promo-item-lilac {
  background-color: var(--lilac-special);
  background-image: url(../img/promo-technics.svg);
}

.promo-item-green {
  background-color: var(--green-light);
  background-image: url(../img/promo-sells.svg);
}

.promo-item-yellow-light {
  background-color: var(--yellow-light);
  background-image: url(../img/promo-delivery.svg);
}

.promo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);

  margin: 0;
  padding-bottom: 14px;
}

.promo-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--link-background);
  text-transform: uppercase;
  text-align: center;

  display: block;
  width: 138px;
  height: 35px;
  padding-top: 9px;
}

.promo-link:hover {
  background-color: var(--grey-opacity);

}

.promo-link:active {
  background-color: var(--grey-del-opacity);
}

/* Slider */
.promo-slider{
  width: 620px;
  height: 266px;
  position: relative;
  grid-column: 1/3;
  grid-row: 2/4;
}

.slider-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

  padding-top: 23px;
  padding-left: 24px;

  background-color: var(--slider-background);
}

.promo-slider-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--white);

  margin: 0;
  padding-bottom: 5px;
}

.promo-slider-text {
  color:var(--white);

  margin: 0;
  padding-bottom: 16px;
}

.promo-slider-button {
  padding: 10px 46px;

  position: absolute;
  margin-top: 97px;
}
/* Popular
========================= */

.popular {
  margin-bottom: 70px;
}

.popular-wrapper {
  background-color: var(--yellow-background);

  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 14px;
}

.popular-title {
  margin: 0;
  padding: 30px 0;
}

.popular-button {
  padding: 10px 24px;
  display: block;
}

.popular-list {
  list-style: none;

  display: flex;
}

.popular-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EAEAEA;
  width: 220px;
  height: 318px;
  margin-right: 20px;
}

.popular-item:last-of-type {
  margin-right: 0;
}

.popular-item:last-of-type h3 {
  margin-bottom: 39px;
}

.popular-item-new {
  position: relative;
}

.popular-item img {
 padding: 10px;
  margin: 0 auto;
  display: block;
}

.popular-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);

  margin: 0;
  margin-bottom: 8px;
  padding: 0 20px;
  text-align: center;

}

.popular-item s {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--grey-del);

  display: block;
  padding: 0 20px;
  margin-bottom: 13px;
  text-align: center;
}

.popular-item span {
  font-weight: 700;
  font-size: 17px;
  line-height: 38px;
  text-align: center;
  color: var(--white);
  background-image: url(../img/button-price.svg);
  display: block;
  width: 141px;
  height: 38px;

  margin: 0 auto;

}

/* Manufacturer
 ============================*/

.manufacturer {
  margin-bottom: 50px;
}

.manufacturer-wrapper {
  background-color: var(--yellow-background);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 19px;
  margin-bottom: 20px;

}

.manufacturer-button {
  padding: 9px 38px;
}

.manufacturer-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.manufacturer-item {
  border: 1px solid var(--grey-border);

  width: 220px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.manufacturer-item:nth-child(4n) {
 margin-right: 0;
}

 /* Servises
 =========================== */

.services {
  background-color: var(--white-background);

  padding: 64px 131px 99px 130px;
}


.services-title {
  color: var(--black);

  margin: 0;
  margin-bottom: 25px;
}

.services-text {
  margin: 0;
  margin-bottom: 70px;
}

.services-wrapper {
  display: flex;
}

.services-list{
   list-style: none;
   margin: 0;
   padding: 0;

   margin-right: 80px;
   position: relative;
}

.services-list::after {
  content: "";
  display: block;
  background-image: url(../img/shadow.png);

  width: 10px;
  height: 279px;

  position: absolute;
  top: -49px;
  right: 0;
}

.services-item {
   background-color: var(--blue);
}

.services-link {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--blue);

  display: block;
  width: 240px;
  height: 61px;
  padding: 14px 130px 14px 22px;

}

.services-link-active {
  color: var(--blue);
  background-color: var(--white);
}

.services-description {
  background-repeat: no-repeat;
  background-position: 100px 30px;
  width: 100%;
}

.services-description h3{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--blue);

  margin: 0;
  margin-bottom: 25px;
}

.services-description p {
  font-size: 13px;
  color: var(--black);

  margin: 0;
}


.delevery-description {
  background-image: url(../img/service-deliver.png);
}

.garanty-description {
  background-image: url(../img/service-garant.png);
  background-repeat: no-repeat;
}

.credit-description {
  background-image: url(../img/service-credit.png);
  background-repeat: no-repeat;
}


/* Wrapper */

.about-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  width: 940px;
  padding: 0 10px;
  margin: 70px auto 70px;

}

/* About
============================ */

.about {
  width: 478px;
  height: 356px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title {
  color: var(--black);

  margin: 0;
  margin-bottom: 25px;
}

.about-text {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;

  margin: 0;
}

.about-text:first-of-type {
  margin-bottom: 20px;
}

.about-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.about-item {
  padding-left: 37px;
  margin-bottom: 12px;
}

.about-item:last-child {
  margin-bottom: 20px;
}

.about-button {
  padding: 10px 40px;
}

/* Contacts
==================== */

.contacts {
  width: 300px;
  height: 356px;
}

.contacts-title {
  color: var(--black);

  margin: 0;
  margin-bottom: 24px;
}

.contacts-text {
  font-family: "PT Sans",Arial,sans-serif;

  margin: 0;
  margin-bottom: 32px;
}

.contacts-map {
  margin-bottom: 25px;
}

.contacts-button {
  padding: 10px 61px;
}

/* Catalog-page
===================== */



/*Catalog-page header
=================== */
.button-basket-active {
  font-size: 18px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--red);
}

.user-profile{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 width: 299px;

}

.user-name {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);



  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  margin-bottom: 7px;

  position: relative;
}

.user-name-icon {
  fill: var(--grey);
  margin-right: 11px;
}

.user-name-exit-icon {
  fill: var(--grey);
}


.user-profile-list {
  display: flex;
  justify-content: flex-start;
}

.user-profile-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--blue);
}


.user-profile-link-orders {
  margin-right: 15px;
  position: relative;
}

.user-profile-link-orders::after {
  content: "";
  position: absolute;
  border-radius: 50%;

  background-color: var(--blue);

  width: 6px;
  height: 7px;
  top: 6px;
  right: -11px;

}

/*Catalog-page header-effects
============================= */

.user-profile-link:hover {
  color: var(--red);
}

/* Active почему-то не срабатывает */
.user-name:active,
.user-profile-link:active {
  color: var(--grey);
}


.user-name:hover .user-name-icon,
.user-name:hover .user-name-exit-icon {
  fill: var(--icon-background);
}

.user-name-exit:hover .user-profile {
  fill: var(--icon-background);

}

/* Bread crumbs
=========================== */

.bread-crumbs-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.bread-crumbs-list-item,
.bread-crumbs-list-item a {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.bread-crumbs-list-item {
  margin-left: 41px;
  position: relative;
}

.bread-crumbs-list-item::before {
  content: "";
  background-image: url(../img/icon-right-small.png);

  position: absolute;
  width: 7px;
  height: 10px;
  left: -18px;
  top: 3px;

}

/* main-title */

.main-title {
  background-color: var(--white-background);
  padding: 10px 0 10px 30px;
  margin-bottom: 20px;
  /* margin: 0; */
}

/* Wrapper
===================*/

.wrapper {
  display:flex;
}


/* Filters
=================== */

.filters {
  margin: 0;
  padding: 0;
  /* margin-right: auto; */

  width: 220px;
  height: 720px;

  display: flex;
  flex-direction: column;
}

.filters h2 {
  font-weight: normal;
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-list{
  list-style: none;
}

.filter-item {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 15px;
  line-height: 19px;
}

.button-submit {
  font-size: 13px;
  line-height: 18px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Sorting
====================== */

.right-column {
  margin-left: 20px;
}

.sorting {
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--yellow-background);

  display: flex;
  margin-bottom: 28px;
}

.sorting h3 {
  font-weight: normal;
  font-size: 13px;
  margin-right: auto;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
}

.sorting-item:first-child {
  margin-right: 70px;
}

.sorting-item:nth-child(2) {
  margin-right: 65px;
}

.sorting-item:nth-child(3) {
  margin-right: 46px;
}

.sorting-button-up-img{
  fill: var(--grey);
  margin-right: 21px;
}

.sorting-button-down-img{
  fill: var(--grey);
  margin-right: 14px;
}

.sotring-link:not(.sotring-link-active) {
  color: var(--black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--black);
}

.sotring-link-active {
  color: var(--red);
}

/* Sorting-effects
====================== */
.sotring-link:not(.sotring-link-active):hover {
  opacity: 1;
}

.sotring-link-active:hover {
  color: var(--red-basic);
}

.button-up .sorting-button-up-img:hover,
.button-up .sorting-button-up-img:focus {
  fill: var(--black);
}

/* Фокус с клавиатуры почему-то не срабатывает */
.button-down:hover,
.button-down:focus {
  fill: var(--black);
}

.button-up .sorting-button-up-img:active {
  fill: var(--red);
}

.button-down .sorting-button-down-img:active {
  fill: var(--red);
}

/* Products
====================== */

.products {
  margin-bottom: 30px;
}

.products-list {
  list-style: none;

  margin: 0;
  padding: 0;
  width: 700px;

  display: flex;
  flex-wrap: wrap;

}

.products-item {
  font-size: 17px;
  line-height: 18px;
  border: 1px solid var(--grey-border);

  width: 220px;
  display: flex;
  justify-content: center;

  margin-right: 20px;
  margin-bottom: 18px;
  position: relative;
}

.products-item:nth-child(3n) {
  margin-right: 0px;
}

.products-item-new::after,
.popular-item-new::after {
  content: "";
  width: 70px;
  height: 70px;
  background-image: url(../img/new.svg);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.products-item img {
  margin-top: 39px;
  margin-bottom: 44px;
}

.products-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  text-align: center;

  margin: 0;
  margin-bottom: 7px;

  width: 156px;
}

.products-item s {
  color: var(--grey-del);
  text-align: center;

  display: block;
  width: 100%;
  margin-bottom: 13px;
}

.products-item span {

  text-align: center;
  background-image: url(../img/button-price.svg);
  background-repeat: no-repeat;
  color: var(--white);
  display: inline-block;
  height: 38px;
  width: 141px;
  padding-top: 10px;
  margin-bottom: 21px;
  margin-left: 8px;

}

/* Site-nav
==================== */

.site-nav-item a{
  font-family: "PT Sans",Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  border:1px solid var(--grey);
  border-radius: 2px;

  padding: 10px 15px;
  margin-right: 10px;
  display: block;

}

.site-nav-item-active a{
  color: var(--white);
  border:1px solid var(--red);
  border-radius: 2px;
  background-color: var(--red);

}

.site-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Site-nav effects */

.site-nav-item:active{
  border: 1px solid var(--red);
}


/* Perforator-description
==================== */

.perforator-description {
  background-color: var(--white-background);

  padding: 64px 0 68px;
}

.perforator-description-title {
  color: var(--black);
}

.perforator-description p {
font-size: 13px;
}

/* Footer
==================== */
.footer {
  background-color: var(--blue);
  position: relative;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-logo-link {
  padding: 23px 41px;
  background-color: var(--red);
  box-shadow: 0 5px 0 0 var(--dark-red-shadow);
}

.footer-address {
  font-style: normal;
  color: var(--white);
}

.footer-list-top,
.footer-list-bottom {
  list-style: none;

  margin: 0;
  padding: 0;
  display: flex;
}

.list-top-item a,
.list-bottom-item a {
  list-style: none;


  display:inline-block;
  margin-top: 36px;
  margin-right: 30px;
  margin-bottom: 17px;
  margin-left: 30px;;
}

.list-top-item a:last-child,
.list-bottom-item a {
  margin-right: 0px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 54px 0;
}

.list-top-item a {
  color: var(--white);
}

.list-bottom-item a {
  color: var(--yellow)
}

.footer-contacts {
  background-color: var(--dark-blue);

  padding: 35px 0;
}

.footer-contacts .container {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);

  margin: 0;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  margin-left: 161px;

}

.social-item-icon {
  fill: var(--social-background)
}

.footer-feedback {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);

  margin: 0;
  margin-right: 51px;
  margin-left: auto;
}

.footer-feedback a {
  color: var(--yellow);
}

.footer-developer {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);

  margin: 0;
}

.footer-developer a {
  color: var(--yellow);
}

/* Footer-effects */

.list-top-item a:hover,
.list-bottom-item a:hover {
  text-decoration: underline;
}

.list-top-item a:active,
.list-bottom-item a:active {
  opacity: 0.5;
}

.footer-feedback a:hover,
.footer-developer a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: var(--dark-red);
}

.social-item-icon:hover {
  fill: var(--red)
}

.socal-link {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 1px;

  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--social-background);
  border-radius: 50%;
}

.socal-link:hover,
.socal-link:active {
  background-color: var(--red);
}

.socal-link-vk {
  background-image: url(../img/icon-vk.svg);
}

.socal-link-fb {
  background-image: url(../img/icon-fb.svg);
}

.socal-link-insta {
  background-image: url(../img/icon-insta.svg);
}

/* Popups */

.map-popup {
  display: none;
  width: 943px;
  height: 449px;

  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-left: -471.5px;
  margin-top: -224.5px;
 }

.basket-popup {
  /* display: none; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  width: 620px;
  height: 282px;
  position: relative;

  border-top: 7px solid var(--red);
}

.button-close {
  appearance: none;
  border: none;

  background-image: url(../img/icon-close.png);
  background-size: 20px;
  background-color: transparent;

  width: 20px;
  height: 20px;
  position: absolute;
  right: 11px;
  top: 18px;

}

.popup-title {

font-weight: bold;
font-size: 24px;
line-height: 30px;
color: var(--black);
padding: 73px 0;
}

.popup-title::before {
  content: "";
  background-image: url(../img/icon-mark.png);

  width: 66px;
  height: 66px;
  position: absolute;
  top: 48px;
  left: 81px;

}

.button-popup {
  margin-right: 10px;
  padding: 10px 47px;

}



.basket-popup-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 112px;

  background-color: var(--popup-background);
}

.popup-button {
  appearance: none;
  border: none;


  font-family: inherit;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;

  color: var(--black);
  background-color: var(--white);
  padding: 10px 31px;


}
